//
// Home
// ------------------------------

.countdown {
  background-image: url("/img/home-background.jpg");

  .countdown-date {
    margin-bottom: @line-height-computed;

    color: #fff;
    font-size: 40px;
  }

  // Name:     jQuery Countdown styles 2.0.0
  // Author:   Keith Wood
  // Modified: Collin Haines
  .countdown-row {
    clear: both;
    width: 100%;
    text-align: center;
  }
  .countdown-show1 .countdown-section {
    width: percentage(1 / 1);
  }
  .countdown-show2 .countdown-section {
    width: percentage(1 / 2);
  }
  .countdown-show3 .countdown-section {
    width: percentage(1 / 3);
  }
  .countdown-show4 .countdown-section {
    width: percentage(1 / 4);
  }
  .countdown-show5 .countdown-section {
    width: percentage(1 / 5);
  }
  .countdown-show6 .countdown-section {
    width: percentage(1 / 6);
  }
  .countdown-show7 .countdown-section {
    width: percentage(1 / 7);
  }
  .countdown-section {
    display: block;
    float: left;

    text-align: center;
  }
  .countdown-amount {
    font-size: 200%;
  }
  .countdown-period {
    display: block;
  }
  .countdown-descr {
    display: block;
    width: 100%;
  }
}

.timeline {
  background-color: @alliance-blue;

  .container {
    .alert {
      margin-bottom: 0;
    }
  }
}

.registry {
  padding-top: 125px;
  padding-bottom: 125px;

  .registry-item {
    &:not(:first-child) {
      .registry-image {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    @media (min-width: @screen-md-min) {
      &:not(:first-child) {
        margin-left: percentage(1.5 / 12);
      }
    }
  }

  .registry-image {
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .registry-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .registry-category {
    margin-bottom: 15px;
  }
}
