<template name="footer">
  <footer>
    <div class="container">
      <div class="row subscribe-row">
        <div class="col-sm-4 center-block">
          <form class="form-horizontal" id="subscribe">
            <legend class="hide">Subscribe</legend>

            <fieldset>
              <div class="form-group" id="subscribe-group">
                <label class="hide" id="subscribe-group-alert"></label>

                <div class="input-group">
                  <label for="subscribe-group-email" class="hide">Enter email for updates</label>

                  <input type="email" class="form-control" id="subscribe-group-email" placeholder="Enter email for updates">

                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-pink" id="subscribe-group-submit">Submit</button>
                  </span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="text-center text-muted">Copyright &copy; 2016 - Collin Haines - All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</template>
